<!-- Page Wrapper -->
<div class="page-wrapper">
	<div class="content container-fluid">
	
		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col-sm-7 col-auto">
					<h3 class="page-title">Purchase</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a [routerLink]="'/admin/'">Dashboard</a></li>
						<li class="breadcrumb-item active">Purchase</li>
					</ul>
				</div>
				<div class="col-sm-5 col">
					<a [routerLink]="'/pharmacy-admin/add-purchase'" class="btn btn-primary float-right mt-2">Add New</a>
				</div>
			</div>
		</div>
		<!-- /Page Header -->
		<div class="row">
			<div class="col-md-12">
			
				<!-- Recent Orders -->
				<div class="card">
					<div class="card-body">
						<div class="table-responsive">
							<table class="datatable table table-hover table-center mb-0">
								<thead>
									<tr>
										<th>Purchase Date</th>
										<th>Medicine Name</th>
										<th>Medicine Category</th>
										<th>Purchase Price</th>
										<th>Quantity</th>
										<th>Supplier</th>
										<th>Expire Date</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let purchase of purchase_list">
										<td>{{purchase.date | date: 'd-MMMM-y'}}</td>
										<td>
											<h2 class="table-avatar">
												<span class="avatar avatar-sm mr-2"><img class="avatar-img" src="{{purchase.medicine_img}}" alt="medicine image"></span>
												{{purchase.medicine_name}}
											</h2>
										</td>
										<td>{{purchase.medicine_category}}</td>
										<td>${{purchase.purchase_price}}</td>
										<td>{{purchase.quantity}}</td>
										<td>{{purchase.supplier}}</td>
										<td>{{purchase.expire_date | date: 'd-MMMM-y'}}</td>
										<td>
											<div class="actions">
												<a class="btn btn-sm bg-success-light" [routerLink]="'/pharmacy-admin/edit-purchase'">
													<i class="fe fe-pencil"></i> Edit
												</a>
												<a data-toggle="modal" (click)="deleteModal(delete,purchase)" class="btn btn-sm bg-danger-light" data-toggle="modal" data-target="#deleteConfirmModal">
													<i class="fe fe-trash"></i> Delete
												</a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- /Recent Orders -->
				
			</div>
		</div>
	</div>			
</div>
<!-- /Page Wrapper -->
<ng-template #delete>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Delete</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
		<p id="acc_msg">Are you sure you want to delete?</p>
      <div style="margin-top:25px">
        <button type="button" class="btn btn-success si_accept_confirm" id="btn-yes" (click)="deletePurchase()" >Yes</button>
        <button type="button" class="btn btn-danger si_accept_cancel" (click)="decline()" >No</button>
      </div>
    </div>
</ng-template>