<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-5 col-auto">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="'/admin/'">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Liste des Emails de contacts</li>
          </ul>
        </div>

        <div class="col-sm-4 col-3">
          <input
            type="text"
            class="form-control"
            placeholder="Search"
            [(ngModel)]="searchText"
          />
        </div>
      </div>
    </div>
    <!-- /Page Header -->
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table
                class="row-border hover table table-bordered table-center mb-0"
                aria-label=""
              >
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Receiver</th>
                    <th>Subject</th>
                    <th>Message</th>
                    <th>Date</th>
                    <th class="text-center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let mailDTO of listEmailDtoData
                        | filter: searchText
                        | paginate: { itemsPerPage: 8, currentPage: p };
                      let i = index
                    "
                  >
                    <td>{{ mailDTO.id }}</td>
                    <td>{{ mailDTO.receiver }}</td>
                    <td>{{ mailDTO.subject }}</td>
                    <td>{{ mailDTO.message }}</td>
                    <td>
                      {{ mailDTO.createDate | date: "dd MMM yyyy " }}<br />
                    </td>

                    <td class="text-right">
                      <div class="actions">
                       <!--  <a
                          class="btn btn-sm bg-warning-light"
                          (click)="responseToDemandeur(i)"
                        >
                          <i class="fa fa-envelope" aria-hidden="true"></i>
                          Repondre</a
                        >&nbsp; -->

                        <a
                          data-toggle="modal"
                          (click)="deleteModal(delete, mailDTO)"
                          class="btn btn-sm bg-danger-light"
                        >
                          <i class="fe fe-trash"></i> Delete
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="pagination">
                <pagination-controls
                  (pageChange)="p = $event"
                ></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Ajouter Service</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!--  <div class="modal-body">
    <form>
      <div class="row form-row">
        <div class="col-12 col-sm-4">
          <div class="form-group">
            <label>Code</label>
            <input
              type="text"
              class="form-control"
              name="code"
              [(ngModel)]="formDataServiceDTO.code"
              #code="ngModel"
            />
          </div>
        </div>
        <div class="col-12 col-sm-8">
          <div class="form-group">
            <label>Nom Service</label>
            <input
              type="text"
              class="form-control"
              name="name"
              [(ngModel)]="formDataServiceDTO.name"
              #name="ngModel"
            />
          </div>
        </div>
        <div class="col-12 col-sm-12">
          <div class="form-group">
            <label>Description</label>
            <textarea
              class="form-control"
              name="description"
              [(ngModel)]="formDataServiceDTO.description"
              #description="ngModel"
              id="description"
              cols="7"
              rows="7"
            ></textarea>
          </div>
        </div>

      </div>
      <button type="submit" class="btn btn-primary btn-block" (click)="save()">
        Save Changes
      </button>
    </form>
  </div> -->
</ng-template>

<!-- <ng-template #edittemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modifier un Service</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm" novalidate>
      <div class="row form-row">
        <div class="col-12 col-sm-4">
          <div class="form-group">
            <label>ID</label>
            <input
              type="text"
              class="form-control"
              formControlName="id"
              readonly
            />
          </div>
        </div>
        <div class="col-12 col-sm-4">
          <div class="form-group">
            <label>Code</label>
            <input type="text" class="form-control" formControlName="code" />
          </div>
        </div>
        <div class="col-12 col-sm-8">
          <div class="form-group">
            <label>Nom Service</label>
            <input type="text" class="form-control" formControlName="name" />
          </div>
        </div>
        <div class="col-12 col-sm-12">
          <div class="form-group">
            <label>Description</label>
            <textarea
              class="form-control"
              name="description"
              formControlName="description"
              cols="7"
              rows="7"
            ></textarea>
          </div>
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-primary btn-block"
        (click)="update()"
      >
        Edit
      </button>
    </form>
  </div>
</ng-template> -->

<ng-template #delete>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    Are you sure want to delete this email?
    <div style="margin-top: 25px">
      <button
        type="button"
        class="btn btn-default"
        (mouseover)="btnColor()"
        id="btn-yes"
        (click)="deleteEmailDTO()"
      >
        Yes
      </button>
      <button
        type="button"
        class="btn btn-primary"
        (mouseover)="btnColorNo()"
        id="btn-no"
        (click)="decline()"
      >
        No
      </button>
    </div>
  </div>
</ng-template>
